
* {
    box-sizing:border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh; 
    min-height: 100svh;
      background-image: url(../Images/Mainpicture.png);
      background-repeat: none;
      background-position: center;
      background-attachment: scroll;
      background-size:100%;
  }
  
  nav {
    background: hsl(200 70% 10%);
    color: hsl(0 0% 100%);
    font-family: system-ui;
    position: sticky;
    top:0;
  }
  nav a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  nav .navbar-container {
    display: flex;
    justify-content: space-between;
  }
  nav .navbar-brand img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style:none;
  }
  nav ul a {
    padding: 3em;
  }

p {
  font-family: Georgia, serif;
  font-weight: lighter;
  text-align: left;
}

img{
  vertical-align: top;
}

.img-with-text {
  text-align: justify;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

